.footer {
  background-color: #fff8f1;
  color: $color-copy-light;
  font-size: 1.3rem;
  margin-top: 4rem;
  padding: 8rem 2rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
